body {
  background-color: beige;
}

h1 {
  text-align: center;
}

.questionOne {
  margin-top:auto;
  padding: 18px;
}

.questionTwo {
  margin-top:auto;
  padding: 18px;
}
.questionThree {
  margin-top:auto;
  padding: 18px;
}

.questionFour {
  margin-top:auto;
  padding: 18px;
}

.questionFive {
  margin-top:auto;
  padding: 18px;
}

#rust {
  display: none;
}

#go {
  display: none;
}

#python {
  display: none;
}

#ruby {
  display: none;
}