body {
  background-color: beige;
}

h1 {
  text-align: center;
}

.questionOne {
  margin-top:auto;
  padding: 10px;
}

.questionTwo {
  margin-top:auto;
  padding: 10px;
}
.questionThree {
  margin-top:auto;
  padding: 10px;
}

.questionFour {
  margin-top:auto;
  padding: 10px;
}

.questionFive {
  margin-top:auto;
  padding: 10px;
}

#rust {
  display: none;
}

#go {
  display: none;
}

#python {
  display: none;
}

#ruby {
  display: none;
}

.result {
  padding: 10px;
  border: solid green;
  display: none;
  margin-top: 80px;
  text-align: center;
  color: green;
  
}

.pic {
  display: block;
  width: 100%;
  padding: 60px;
  
}

.ocean-background {
  background: url(../img/ocean.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color:white;



}

.black-background {
  background-color: black;
  color:white;
}

